* {
    font-family: Nunito,sans-serif;
}

.btn-submit {
    /* width: 200px;  */
    font-size: 1.5rem;
    padding: 0.5em 2em;
}

.form-main {
    margin: 2rem auto;
    padding: 2rem 2rem;
    width: 80%;
    border-radius: 5px;
    border: solid #212529 2px;
}

.form-group label{
    font-size: 1.25rem;
}

.modal_trigger_icon {
    width: 1.25em;
    /* display: none; */
}

.form-modal {
    margin: 2rem 0;
}

#confetti-container {
    display: none;
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    color: gold;
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -10%);
}


@media (max-width : 576px) {
    .form-main {
        padding: 2rem 0;
        width: 100%;
        border: solid #212529 0.5px;

    }
    #confetti-container {
        margin: auto;
        transform: none;
    }
}
